// header 
//   background-image: url(../images/banner1.jpg)

.hover_nav:hover
  background-color: #dc3545

.txt_big
  font-size: 3.5rem
.txt_md
  font-size: 3.5rem
// .header
//   position: relative
.Sct_first
  position: relative
  top: 50%

// #div_big_img_parent
//    position: relative
.div_bg_img
  // position: absolute
  filter: brightness(40%)
  width: 100%
  z-index: -1
.Sct_Carousel
  position: relative
.div_carousel
  position: absolute
  z-index: 1
    // margin-top: 50%
  width: 100%
  // bottom: -15rem

.div_nav
  position: absolute
  top: 10px
nav
  // position: absolute
  z-index: 1
  background-color: #0000ff00
.pos_abs
  position: absolute

.centered
  // position: absolute
  color: white
  text-align: center
  font-family: 'Courgette', cursive
  font-size: 2rem
  z-index: 2
  padding-bottom: 5% 
  width: 31%
  margin-left: 15%

.btn_red
  border-radius: 25px
  background-color: #dc3545
  font-size: 1.5rem

.btn_white
  border-radius: 25px
  font-size: 1.5rem

.container_test
  position: relative
  width: 200px
  height: 200px

.carou
  // position: absolute
.img_decoration
  // position: relative
  background-repeat: space
  top: 75rem
  z-index: 1

.Sct_second_container
  position: absolute
  z-index: 1


//SUITE
.p-relative
  position: relative
  top: 100px

.p-absolute
  position: absolute
  bottom: 1200px
  left: 20%
  z-index: 2
.p-relative2
  position: relative

.p-absolute2
  position: absolute
  bottom: 500px
  left: 20%
.p-absolute_triangle_bot_left
  position: absolute
  bottom: 328px
  left: 19%
.p-absolute_triangle_bot_right
  position: absolute
  bottom: 328px
  right: 19%
.p-absolute_triangle_top_left
  position: absolute
  top: 72px
  left: 19%
.p-absolute_triangle_top_right
  position: absolute
  top: 72px
  right: 19%

.nav-link
  text-decoration: none
    color: black

.carousel-indicators
  margin-top: 500px

.nav-link
    color: white
    font-size: 20px
    opacity: 2
    border-bottom: solid 2px 
    border-top: solid 2px 
    padding: 15px

//Section Menu 
.Sct_second_img
  background-image: url("../images/main_bg.jpg")
  width: 100%
  height: 1800px

.Sct2_div_cont1
  height: 1400px

.Sct2_div_cont2
  padding-top: 35px
  height: 400px
  text-align: center

.Sct2_div_cont3
  text-align: center
  width: 15%
.icon
  font-size: 75px
// .icon_text
//   width: 150px
.Sct2_div_cont4
  // text-align: center
  width: 50%
  height: 157px


  // Section3
.Sct3_img
  background-image: url("../images/team_background.jpg")
  width: 100%
  height: 700px
  color: white
  .text-center
    padding-top: 6%
  h1
    font-family: 'Courgette', cursive
  span
    color: danger
  .chefs

// Section 4
.Sct4
  position: relative 
  background-image: url("../images/main_bg.jpg")
  width: 100%
  height: 1800px
  .Sct4_div
    height: 1400px
    .Sct4_div_Bg_img
      background-image: url("../images/book_table_bg.jpg")
      height: 550px
      width: 69%
      h5
        padding: 8%
      .Sct4_div_decoration
        width: 30%
      form
        margin: 3%
      
        div
          div
            input
              margin-bottom: 10%
              margin-top: 10px
              border-radius: 10px
            select
              margin-bottom: 10px
              margin-top: 10px
              border-radius: 10px
          button
            border-radius: 10px

.col_cards
  margin-left: 5%
  margin-right: 5%
  span
    position: absolute
    font-size: 20px
    border-radius: 5px
    padding: 10px
    bottom: 25%
    left: 18%
  .img2_Cards
    position: relative
    width: 100%
    height: 300px
    border-radius: 25px
    border: grey solid 10px
      