// header 
//   background-image: url(../images/banner1.jpg)

.hover_nav:hover
  background-color: #dc3545

.txt_big
  font-size: 3.5rem
.txt_md
  font-size: 3.5rem
// .header
//   position: relative
.Sct_first
  position: relative
  top: 50%

// #div_big_img_parent
//    position: relative
.div_bg_img
  // position: absolute
  filter: brightness(40%)
  width: 100%
  z-index: -1
.Sct_Carousel
  position: relative
.div_carousel
  position: absolute
  z-index: 1
    // margin-top: 50%
  width: 100%
  // bottom: -15rem

.div_nav
  position: absolute
  top: 10px
nav
  // position: absolute
  z-index: 1
  background-color: #0000ff00
.pos_abs
  position: absolute

.centered
  // position: absolute
  color: white
  text-align: center
  font-family: 'Courgette', cursive
  font-size: 2rem
  z-index: 2
  padding-bottom: 5% 
  width: 31%
  margin-left: 15%

.btn_red
  border-radius: 25px
  background-color: #dc3545
  font-size: 1.5rem

.btn_white
  border-radius: 25px
  font-size: 1.5rem

.container_test
  position: relative
  width: 200px
  height: 200px

.carou
  // position: absolute
.img_decoration
  // position: relative
  background-repeat: space
  top: 75rem
  z-index: 1

.Sct_second
  position: relative
  // background-image: url(../images.main_bg.jpg)

.Sct_second_img
  position: absolute
  // top: 90%

.Sct_second_container
  position: absolute
  z-index: 1


//SUITE
.p-relative
    position: relative
    top: 100px

.p-absolute
    position: absolute
    bottom: 1200px
    left: 20%
    z-index: 2
.p-relative2
    position: relative

.p-absolute2
    position: absolute
    bottom: 500px
    left: 20%


.nav-link
  text-decoration: none
    color: black

.carousel-indicators
  margin-top: 500px

.nav-link
    color: white
    font-size: 20px
    opacity: 2
    border-bottom: solid 2px 
    border-top: solid 2px 
    padding: 15px
